body,
html {
  margin: 0;
  padding: 0;
}
/*============
  删除间距
  ==========*/
dl,
dd,
ul,
ol,
li,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
form,
fieldset,
legend,
input,
button,
select,
textarea {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
html {
  background-color: #f5cea6;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  background: #f2eee8;
  max-width: 1400px;
  min-width: 1000px;
}
.header {
  background-color: #fffbf5;
  border-bottom: 1px solid #f2eee8;
}
.header ul {
  display: flex;
  align-items: center;
}
.header ul li.logo {
  flex: 1;
  text-align: center;
}
.header ul li img {
  border-radius: 100%;
  height: 40px;
  width: 40px;
  object-fit: cover;
}
.main {
  display: flex;
}
aside.left {
  order: -1;
  width: 22%;
  background-color: #80a8cc;
  color: #ffffff;
}
aside.left .profile {
  padding: 50px 20px 40px;
  text-align: center;
}
aside.left .profile img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
}
aside.left .profile h3 {
  font-size: 16px;
  font-weight: lighter;
  margin: 5px 0;
}
aside.left .profile p {
  color: #f1f6fa;
  font-size: 14px;
}
aside.left .profile a {
  display: block;
  color: #f1f6fa;
  margin: 15px 0;
}
aside.right {
  width: 22%;
  background-color: #fffbf5;
}
aside.right .trends {
  padding: 35px;
}
aside.right .trends h3 {
  font-weight: lighter;
  color: #989690;
  margin-bottom: 20px;
}
aside.right .trends a {
  color: #80a8cc;
  text-decoration: none;
}
section.center {
  flex: 1;
  padding: 40px;
}
section.center .info ul {
  display: flex;
  background-color: #fffbf5;
  margin-bottom: 40px;
  text-align: center;
}
section.center .info ul li {
  flex: 1;
  padding: 12px 0;
}
section.center .info ul li h3 {
  color: #d6d2c4;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 12px;
}
section.center .info ul li p {
  font-size: 14px;
}
section.center .info ul li:first-child {
  border-bottom: 5px solid #80a8cc;
}
.post {
  position: relative;
  text-align: left;
  padding: 30px;
  background-color: #fffbf5;
  border-bottom: 1px solid #f2eee8;
}
.post .avator {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 30px;
  left: 30px;
  border-radius: 100%;
  object-fit: cover;
}
.post .content {
  margin-left: 60px;
}
.post .content span {
  margin-right: 7px;
}
.post .content span.name {
  font-weight: bold;
}
.post .content span.account {
  font-weight: lighter;
  color: #d6d2c4;
}
.post .content span.time {
  color: #d6d2c4;
  float: right;
  margin-right: 0;
}
.post header {
  margin-bottom: 10px;
}
.post section p {
  line-height: 1.4;
  font-weight: normal;
  margin-bottom: 10px;
}
.post section img {
  width: 100%;
  margin-bottom: 10px;
}
.post footer a {
  text-decoration: none;
  color: #d6d2c4;
  margin-right: 10px;
}
.post footer a:last-child {
  float: right;
  margin-right: 0;
}
.post footer a:hover {
  color: #989690;
}
