
@bg-color:#f4f3f1;
@first-text-color:#373d4b;
@secondy-text-color:#60677a;
@third-text-color:#9499a6;
@highlight-text-color:#fff;
@button-color:#67ddab;
@border-color:#d9dada;
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    background: @bg-color;
}
.post{
    position: relative;
    text-align: left;
}